<section id="education" class="p-3">
    <div class=" d-flex  justify-content-center">
        <h1 class="m-0 abouthead h3 d-flex align-items-center"><svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z" fill="currentColor"></path></svg> ABOUT ME</h1>
    </div>

        <p class="mb-0 w-75 m-auto  text-center mt-3 dec ">Passionate and results-driven Front-End Developer with one year of experience in building responsive and user-friendly web applications. 
       </p>

       <div class="container mb-2">
        <div class="timeline">
    
            <div class="timeline-item">
                <div class="timeline-content">
                    <h4><i class="fa-solid fa-user-graduate"></i> EDUCATION</h4>
                    <h3>Bachelor's degree  &nbsp; 2020 - 2024</h3>
                    <p>I graduated from the Faculty of Computers and Artificial Intelligence, Helwan University, with a very good grade and a GPA of 3.08.</p>
                    <p><strong>Helwan University, Egypt</strong></p>
                </div>
            </div>
    
            <div class="timeline-item">
                <div class="timeline-content">
                    <h4><i class="fa-solid fa-chalkboard-user"></i> COURSES</h4>
                    <h3>Route Academy Diploma &nbsp;  2023</h3>
                    <p>gaining in-depth knowledge and hands-on experience in front-end development, focusing on Angular and modern web technologies.</p>
                    <p><strong>Egypt.</strong></p>
                </div>         
            </div>
    
            <div class="timeline-item">
                <div class="timeline-content">
                    <h4><i class="fa-solid fa-user-check fs-4"></i> WORK EXPERIENCE (Freelancer)</h4>
                    <h3>FrontEnd Developer &nbsp;  2024</h3>
                    <p>Developing scalable web and standalone applications while optimizing performance and user experience.</p>
                    <p><strong>Egypt.</strong></p>
                </div>
            </div>

    
        </div>
    </div>
    
</section>


<section id="skiles" class="p-5 shadow" >
    <div class=" d-flex  justify-content-center ">
        <h1 class=" mt-5  abouthead h3 d-flex align-items-center"><svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z" fill="currentColor"></path></svg>MY SKILLS</h1>
    </div>
    <p class="text-center fs-4  mt-2">I am working on improving my skills and acquiring new ones</p>
<div class="container">
    <div class="skilles row justify-content-evenly mt-5 gx- gy-4">
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
<div class=" skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
    <div class="img">
        <img src="assets/htnl5.png" alt="Html" class="w-100">
    </div>

    <p class="fs-4">HTML 5</p>
    <small class="fs-4">80%</small>
</div>
        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
           <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
            <div class="img w-45">
                <img src="assets/css.png" alt="Html" class="w-100">
            </div>

            <p class="fs-4">CSS</p>
            <small class="fs-4">80%</small>
           </div>

        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img w-50">
                    <img src="assets/boostrap.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">Bootstrap</p>
                <small class="fs-4">80%</small>
            </div>
        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img ">
                    <img src="assets/js.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">JavaScript</p>
                <small class="fs-4">80%</small>
            </div>

        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img">
                    <img src="assets/jQuery.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">jQuery</p>
                <small class="fs-4">70%</small>
            </div>

        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img">
                    <img src="assets/Angular.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">Angular Js</p>
                <small class="fs-4">85%</small>
            </div>
        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img">
                    <img src="assets/ts.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">TypeScript</p>
                <small class="fs-4">80%</small>
            </div>
        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img w-50">
                    <img src="assets/Tailwind CSS.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">Tailwind CSS</p>
                <small class="fs-4">80%</small>
            </div>

        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img w-50">
                    <img src="assets/Sass_Logo_Color.svg.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">SASS</p>
                <small class="fs-4">80%</small>
            </div>

        </div>
        <div class="   col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <div class="skillItem  rounded rounded-pill d-flex flex-column justify-content-center align-items-center">
                <div class="img w-50">
                    <img src="assets/git.png" alt="Html" class="w-100">
                </div>
    
                <p class="fs-4">git</p>
                <small class="fs-4">80%</small>
                </div>
        </div>



    </div>
</div>


</section>
