<div class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>We provide high-quality web development solutions to help businesses grow.</p>
            </div>

            <!-- Column 2 -->
          

            <!-- Column 3 -->
            <div class="col-md-6">
                <h5>Follow Us</h5>
                <div class="social-icons">
                 <a href="https://www.linkedin.com/in/abdelrahman-r-194a71290/" target="_blank" ><i class="fa-brands fa-linkedin"></i></a>
                 <a href="https://github.com/Abdoreda2354" target="_blank" ><i class="fa-brands fa-github"></i></a>
                 <a href="mailto:abreda1678@gmail.com" target="_blank" ><i class="fa-solid fa-envelope"></i></a>
                 <a href="https://wa.me/201150539960" target="_blank" ><i class="fa-brands fa-whatsapp"></i></a>

                </div>

            </div>
        </div>

        <hr class="my-4 border-light">

        <p class="mb-0">&copy; 2025 Abdelrahman Reda. All Rights Reserved.</p>
    </div>
</div>