<section id="my_Projects">
    <div class="d-flex  justify-content-center ">
        <h1 class=" h3 mt-5  abouthead h3 d-flex align-items-center"><svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z" fill="currentColor"></path></svg> My Projects</h1>
    </div>
    <p class="text-center dec mt-2 d-flex justify-content-center">Showcasing My Remarkable Projects
    </p>

    <div class="container-fluid">
        <div class="row services-row  mt-5 px-3 gy-4">
            <div class="col-md-6 col-lg-4">
                <div class="item">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="ecommerce">
                            <ng-template carouselSlide>  <img src="assets/cart3.png " class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide> <img src="assets/cart2.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/cart4.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/cart5.png" class="w-100" alt="cart"></ng-template>  
                          </owl-carousel-o>
                    </div>
                    
                    <h3 class="p-2 ms-2"><span>E-commerce</span> Application </h3>
                    <p class="p-2 ms-2 ">Our e-commerce, built on the Angular framework, with a responsive user interface, customers can easily 
                        browse through a diverse range of products, add them to their cart, and securely complete transactions. </p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">TypeScript</li>
                            <li class=" py-2 px-4 rounded-pill">Angular</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/Abdoreda2354/Fresh-Cart" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item ">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="ecommerce">
                            <ng-template carouselSlide>  <img src="assets/AdminDashBoard.png " class="w-100" alt="cart"></ng-template>  
                          </owl-carousel-o>
                    </div>
                    
                    <h3 class="p-2 ms-2"><span>Admin</span> DashBord </h3>
                    <p class="p-2 ms-2">This project is a demographics analytics dashboard built with Angular and data visualization libraries like 
                        Chart.js. It provides insights into workforce distribution based on gender, employment type, 
                        and other metrics.  </p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">TypeScript</li>
                            <li class=" py-2 px-4 rounded-pill">Angular</li>
                            <li class=" py-2 px-4 rounded-pill">Charts.js</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/Abdoreda2354/Bot-Project" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item ">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="batalMasar">
                            <ng-template carouselSlide>  <img src="assets/batal-1.png " class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide> <img src="assets/batal-2.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/batal-3.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/batal-4.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/batal-5.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/batal-6.png" class="w-100" alt="cart"></ng-template>  
                          </owl-carousel-o>
                    </div>
                    
                    <h3 class="p-2 ms-2"><span>Batal-Masar</span> Application </h3>
                    <p class="p-2 ms-2">This project contains 4 distinct dashboards Admin, Representor, Player, and Agent of Ministry,
                        Allows admins to manage representor, associations, and agent of ministry accounts, Enables representors to manage players and medals.   
                    </p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">TypeScript</li>
                            <li class=" py-2 px-4 rounded-pill">Angular</li>
                            <li class=" py-2 px-4 rounded-pill">charts.js</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/yossefezz2/Batal-masr" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="ecommerce">
                            <ng-template carouselSlide>  <img src="assets/Sales-1.png " class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide> <img src="assets/Sales-2.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/Sales-3.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/Sales-7.png" class="w-100" alt="cart"></ng-template>  
                          </owl-carousel-o>
                    </div>
                    
                    <h3 class="p-2 ms-2"><span>Seles</span> Website </h3>
                    <p class="p-2 ms-2">This website is a real estate advertising platform designed to help users create customized marketing campaigns for housing and renovation projects. The interface is in Arabic, featuring a clean and modern design with a user-friendly layout. </p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">TypeScript</li>
                            <li class=" py-2 px-4 rounded-pill">Angular</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/Abdoreda2354/Sales" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item ">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="batalMasar">
                            <ng-template carouselSlide>  <img src="assets/yammy-1.png " class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide> <img src="assets/yammy-2.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/yammy-3.png" class="w-100" alt="cart"></ng-template>  
                            <ng-template carouselSlide>  <img src="assets/yammy-4.png" class="w-100" alt="cart"></ng-template>  
                          </owl-carousel-o>
                    </div>
                    
                    <h3 class="p-2 ms-2"><span>Yammy</span> Website </h3>
                    <p class="p-2 ms-2">Developed a dynamic recipe finder app featuring real-time searches, filters, and favorite-saving functionality 
                        Integrated a recipe API for seamless data fetching and designed 
                        a responsive, user-friendly interface.    
                    </p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">JavaScript</li>
                            <li class=" py-2 px-4 rounded-pill">JQuery</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/Abdoreda2354/Yummy" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="item">
                    <div class="img w-100 overflow-hidden">
                      
                        <owl-carousel-o [options]="ecommerce">
                            <ng-template carouselSlide>  <img src="assets/bookmark.png" class="w-100" alt="cart"></ng-template>    
                          </owl-carousel-o>                    </div>
                    
                    <h3 class="p-2 ms-2"><span>BookMark</span> Website </h3>
                    <p class="p-2 ms-2">Save and organize your favorite websites effortlessly with our Bookmark Manager!
                         Easily store and access your visited pages in one convenient place.
                          Whether you're researching, shopping, or just browsing, our intuitive interface.</p>
                        <ul class="tecnologies m-3 d-flex list-unstyled flex-wrap ">
                            <li class=" py-2 px-4 rounded-pill">Html</li>
                            <li class=" py-2 px-4 rounded-pill">CSS</li>
                            <li class=" py-2 px-4 rounded-pill">Bootstrap</li>
                            <li class=" py-2 px-4 rounded-pill">JavaScript</li>
                            <li class=" py-2 px-4 rounded-pill">CRUD</li>
                          

                        </ul>
<div class="github ms-4 mt-4 mb-3">
    <a href="https://github.com/Abdoreda2354/Bookmark" target="_blank" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github w-6 h-6"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path>
    
        </svg>  
    </a>


</div>
                </div>
               
                   
            </div>

   

        </div>
    </div>

</section>
